/* Steam styling */
.steam-theme .game-card {
    border: 2px solid #1b2838;
}

    .steam-theme .game-card h5 {
        color: #1b9ae4 !important;
    }

/* Xbox styling */
.xbox-theme .game-card {
    border: 2px solid #107c10;
}

    .xbox-theme .game-card h5 {
        color: #107c10 !important;
    }

/* Origin styling */
.origin-theme .game-card {
    border: 2px solid #f56c2d;
}

    .origin-theme .game-card h5 {
        color: #f56c2d !important;
    }
