@model AdminUser
@{
    ViewData["Title"] = "Админ вход";
}

<div class="row">
    <div class="col-lg-6 offset-lg-3">
        <div class="heading-section">
            <h4><em>Админ</em> Панель</h4>
        </div>

        <div class="login-form" style="background-color: #27292a; border-radius: 23px; padding: 30px;">
            @if (ViewBag.Error != null)
            {
                <div class="alert alert-danger">
                    @ViewBag.Error
                </div>
            }

            <form asp-controller="Admin" asp-action="Login" method="post">
                <div class="form-group mb-4">
                    <label class="mb-2">Имя пользователя</label>
                    <input type="text" name="username" class="form-control" required>
                </div>

                <div class="form-group mb-4">
                    <label class="mb-2">Пароль</label>
                    <input type="password" name="password" class="form-control" required>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary w-100 py-3">ВОЙТИ</button>
                </div>
            </form>
        </div>
    </div>
</div>