@{
    ViewData["Title"] = "Главная";
}

<!-- ***** Banner Start ***** -->
<div class="main-banner">
    <div class="row">
        <div class="col-lg-7">
            <div class="header-text">
                <h6>Добро пожаловать в Магазин Игр</h6>
                <h4><em>Просмотрите</em> наши популярные игры</h4>
                <div class="main-button">
                    <a asp-controller="Home" asp-action="Browse">Просмотреть сейчас</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Banner End ***** -->
<!-- ***** Most Popular Start ***** -->
<div class="most-popular">
    <div class="row">
        <div class="col-lg-12">
            <div class="heading-section">
                <h4><em>Самые популярные</em> игры сейчас</h4>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="item">
                        <img src="~/images/popular-01.jpg" alt="Fortnite">
                        <h4>Fortnite<br><span>Песочница</span></h4>
                        <ul>
                            <li><i class="fa fa-star"></i> 4.8</li>
                            <li><i class="fa fa-download"></i> 2.3M</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="item">
                        <img src="~/images/popular-02.jpg" alt="PUBG">
                        <h4>PubG<br><span>Королевская битва</span></h4>
                        <ul>
                            <li><i class="fa fa-star"></i> 4.8</li>
                            <li><i class="fa fa-download"></i> 2.3M</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="item">
                        <img src="~/images/popular-03.jpg" alt="Dota 2">
                        <h4>Dota2<br><span>Steam-X</span></h4>
                        <ul>
                            <li><i class="fa fa-star"></i> 4.8</li>
                            <li><i class="fa fa-download"></i> 2.3M</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="item">
                        <img src="~/images/popular-04.jpg" alt="CS-GO">
                        <h4>CS-GO<br><span>Легендарная</span></h4>
                        <ul>
                            <li><i class="fa fa-star"></i> 4.8</li>
                            <li><i class="fa fa-download"></i> 2.3M</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="item">
                        <div class="row">
                            <div class="col-lg-6 col-sm-6">
                                <div class="item inner-item">
                                    <img src="~/images/popular-05.jpg" alt="Mini Craft">
                                    <h4>Mini Craft<br><span>Легендарная</span></h4>
                                    <ul>
                                        <li><i class="fa fa-star"></i> 4.8</li>
                                        <li><i class="fa fa-download"></i> 2.3M</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="item">
                                    <img src="~/images/popular-06.jpg" alt="Eagles Fly">
                                    <h4>Eagles Fly<br><span>Matrix Games</span></h4>
                                    <ul>
                                        <li><i class="fa fa-star"></i> 4.8</li>
                                        <li><i class="fa fa-download"></i> 2.3M</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="item">
                        <img src="~/images/popular-07.jpg" alt="Warface">
                        <h4>Warface<br><span>Max 3D</span></h4>
                        <ul>
                            <li><i class="fa fa-star"></i> 4.8</li>
                            <li><i class="fa fa-download"></i> 2.3M</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="item">
                        <img src="~/images/popular-08.jpg" alt="Warcraft">
                        <h4>Warcraft<br><span>Легенда</span></h4>
                        <ul>
                            <li><i class="fa fa-star"></i> 4.8</li>
                            <li><i class="fa fa-download"></i> 2.3M</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="main-button">
                        <a asp-controller="Home" asp-action="Browse">Открыть популярные</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Most Popular End ***** -->
<!-- ***** Gaming Library Start ***** -->
<div class="gaming-library">
    <div class="col-lg-12">
        <div class="heading-section">
            <h4><em>Ваши</em> покупки</h4>
        </div>
        <div class="item">
            <ul>
                <li><img src="~/images/game-01.jpg" alt="Dota 2" class="templatemo-item"></li>
                <li><h4>Dota 2</h4><span>Песочница</span></li>
                <li><h4>Дата добавления</h4><span>24/08/2024</span></li>
                <li><h4>Время игры</h4><span>634 ч 22 мин</span></li>
                <li><h4>Статус</h4><span>Загружено</span></li>
                <li><div class="main-border-button border-no-active"><a href="#">Загружено</a></div></li>
            </ul>
        </div>
        <div class="item">
            <ul>
                <li><img src="~/images/game-02.jpg" alt="Fortnite" class="templatemo-item"></li>
                <li><h4>Fortnite</h4><span>Песочница</span></li>
                <li><h4>Дата добавления</h4><span>22/06/2024</span></li>
                <li><h4>Время игры</h4><span>740 ч 52 мин</span></li>
                <li><h4>Статус</h4><span>Загружено</span></li>
                <li><div class="main-border-button"><a href="#">Загрузить</a></div></li>
            </ul>
        </div>
        <div class="item last-item">
            <ul>
                <li><img src="~/images/game-03.jpg" alt="CS-GO" class="templatemo-item"></li>
                <li><h4>CS-GO</h4><span>Песочница</span></li>
                <li><h4>Дата добавления</h4><span>21/04/2024</span></li>
                <li><h4>Время игры</h4><span>892 ч 14 мин</span></li>
                <li><h4>Статус</h4><span>Загружено</span></li>
                <li><div class="main-border-button border-no-active"><a href="#">Загружено</a></div></li>
            </ul>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="main-button">
            <a asp-controller="Home" asp-action="Profile">Просмотреть вашу библиотеку</a>
        </div>
    </div>
</div>
<!-- ***** Gaming Library End ***** -->